<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlignExam.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C667B6922195B3A001F2EC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C667B7D22195B3B001F2EC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CF990D4221B0061000F0A41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
